html,body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color:#4d4d4d;
    height: 100%;
}

.main{
    height: 100%;
}

.header,.footer{
    padding: 0 20px;
    color:#fff;
    background-color: #777777;
    height: 50px;
    line-height: 50px;
    
}
.body{
    height: calc(100% - 100px);
    padding: 20px;
    box-sizing: border-box;
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
  
  .auth-inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  
  .auth-wrapper .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
  .auth-wrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  .custom-control-label {
    font-weight: 400;
  }
  .link{
      margin-left: 10px;
      color: grey;
      padding-right: 5px;
  }

  .list{
      list-style-type: none;
      li{
          float: right;
      }
  }

  .addLink{
    &:hover{
      color: white;
    }
  }